{% extends "base.html" %}

{% block content %}
    <h1 class="display-4">Convert video to gif</h1>
    <hr />
    <div class="row">
        <form action="/converter/" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {% for field in form %}
                <div class="row">
                    <div class="form-group">
                        {{ field.errors }}
                        <div class="col-md-2 offset-md-3 text-md-right">{{ field.label_tag }}</div>
                        <div class="col-md-4">{{ field }}</div>
                    </div>
                </div>
            {% endfor %}
            <div>
                <div class="row text-md-center">
                    <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                </div>
            </div>

        </form>
    </div>
{% endblock content %}